//- Required meta tags 
meta(charset="UTF-8")
meta(name="description" content="")
meta(name="theme-color" content="#00e7d9")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

// Font Awesome 
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

//- Import Google Icon Font 
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

//- Compiled and minified CSS 
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
link(rel="stylesheet" href="css/style.css")

//- LOGO 
link(rel="shortcut icon" href="" type="image/x-icon")
title Materialize Template