//- PhotoGrid
section.container.section#photos.scrollspy
  .row
    .col.s12.l4
      img.responsive-img.materialboxed(src="img/portrait.jpg" alt="")
    .col.s12.l6.offset-l1
      h2.indigo-text.text-darken-4 Portraits
      p Lorem ipsum dolor sit amet consectetur ad mdn . Une, sapp reprehenderit. Tempore a officiis tetumnbvr adijjpisicing enlit.
  .row
    .col.s12.l4.push-l7.offset-l1
      img.responsive-img.materialboxed(src="img/city.jpg" alt="")
    .col.s12.l6.pull-l5.offset-l1.right-align
      h2.indigo-text.text-darken-4 Cityscapes
      p Lorem ipsum dolor sit amet consectetur ad mdn . Une, sapp reprehenderit. Tempore a officiis tetumnbvr adijjpisicing enlit.
  .row
    .col.s12.l4
      img.responsive-img.materialboxed(src="img/nature.jpg" alt="")
    .col.s12.l6.offset-l1
      h2.indigo-text.text-darken-4 Nature
      p Lorem ipsum dolor sit amet consectetur ad mdn . Une, sapp reprehenderit. Tempore a officiis tetumnbvr adijjpisicing enlit.