//- services 
section.container.section#services.scrospy
  .row
    .col.s12.l4
      h2.indigo-text.text-darken-4 What I do..
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.
      p Mauris dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae scelerisque erat ornare nec.
    .col.s12.l6.offset-l2
      ul.tabs
        li.tab.col.s6
          a(href="#Photography" class="indigo-text text-darken-4") PHOTOGRAPHY
        li.tab.col.s6
          a(href="#editing" class="indigo-text text-darken-4") EDITING
      #Photography.col.s12
        p.flow-text.indigo-text.text-darken-4 Photography
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.
        p Mauris dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae scelerisque erat ornare nec.
      #editing.col.s12
        p.flow-text.indigo-text.text-darken-4 Editing
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at lacus congue, suscipit elit nec, tincidunt orci.
        p Mauris dolor augue, vulputate in pharetra ac, facilisis nec libero. Fusce condimentum gravida urna, vitae scelerisque erat ornare nec.



//- parallax 
.parallax-container
  .parallax
    img.responsive-img(src="img/stars.jpg" alt="")