doctype
html(lang="en") 
	head
		include includes/head
	body
		include includes/header
		include includes/photogrid
		include includes/name
		include includes/services
		include includes/contactform
		include includes/footer
		include includes/script